################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DDDPaint/Debug
/Release
/.vs/DDDPaint/v14
/DDDPaint/Release
/DDDPaint.VC.VC.opendb
/DDDPaint.VC.db
